.coin__top{
  display: flex;
  height: 50px;
  
}

.coin__rank-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 2%;
}
.coin__name-and-image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10%;
  padding-top: 8px;
}
.coin__image {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
.coin__name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  padding-right: 5px;
}
.coin__name > p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0;
}
.coin-p {
  opacity: 1;
  margin: 0;
}
.coin_symbol {
  padding-top: 2px;
  color: #8daac6;
  font-size: 14px;
  text-transform: uppercase;
}
.coin__rank {
  position: absolute;
  left: 15px;
  top: 70px;
  color: #8daac6;
}
.coin__display-name {
  position: absolute;
  top: 15px;
  left: 65px;
  font-family: "IBM Plex Sans", sans-serif;
  text-align: left;
}
.coin__display-name > p {
  margin: 0;
}
.coin__symbol {
  opacity: 1;
  color: #8daac6;
}
.coin__price-change-holder {
  text-align: right;
  position: absolute;
  right: 35%;
}
.coin__current-price-holder {
  text-align: right;
  position: absolute;
  right: 55%;
}
.coin__market-cap-holder {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 73%;
}
.coin__market-cap {
  color: #8daac6;
}

.coin__expandIcon {
  color: #8daac6;
  cursor: pointer;
  z-index: 999;
}
.display-link {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .coin__top {
    padding-top: 5px;
  }
  .coin__rank-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 1%;
  }
  .coin__name-and-image-holder {
    left: 10%;
  }
  .coin-p {
    font-size: 14px !important;
  }
  .coin__current-price-holder {
    right: 50%;
  }
  .coin__price-change-holder {
    right: 36%;
  }
  .coin__market-cap-holder {
    left: 70%;
  }
 
}
@media (max-width: 970px) {
  .coin_extended {
    min-height: fit-content;
  
  }
}
@media (max-width: 960px) {
  .coin_symbol {
    opacity: 0;
  }
}
@media (max-width: 922px) {
  
}
@media (max-width: 876px) {
 
}
@media (max-width: 842px) {
 
  .coin__bottom-display-p{
    font-size: 14px;
    font-weight: lighter;
  }
}


@media (max-width: 560px) {
  .coin__image {
    height: 25px;
    width: 25px;
  }
  .coin__name-and-image-holder {
    left: 15%;
  }
  .coin__current-price-holder {
    right: 37%;
  }
  .coin__price-change-holder {
    right: 15%;
  }
  .coin__market-cap-holder {
    opacity: 0;
  }
}
@media (max-width: 455px) {
  .coin__image {
    height: 25px;
    width: 25px;
    margin-right: 10px;
  }
  .coin__name-and-image-holder {
    left: 13%;
  }
  .coin__current-price-holder {
    right: 34%;
  }
  .coin__price-change-holder {
    right: 12%;
  }
  .coin__market-cap-holder {
    opacity: 0;
  }
}
@media (max-width: 420px) {
  .coin__rank-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 3%;
  }
  .coin__image {
    height: 25px;
    width: 25px;
    margin-right: 10px;
  }
  .coin__name-and-image-holder {
    left: 22%;
  }
  .coin__current-price-holder {
    right: 5%;
  }
  .coin__price-change-holder {
    opacity: 0;
  }
  .coin__market-cap-holder {
    display: none;
  }
  .coin__expandIcon{
    display: none !important;
  }
}

/* --------------------------------------------------- */
.coin-percent__green {
  font-size: 16px;
  color: #1bc5bd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.coin-percent__red {
  font-size: 16px;
  color: #f64e60;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* --------------------------------------------------- */

/* scroll bar style */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #20304C;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #17B78C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #17B78C;
}