.trendingCoinElement {
  position: relative;
  width: 250px;
  height: 75px;
  /* max-width: 320px; */
  color: #f9ffff;
  background: #0c1a32;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 3px;
}
.trendingCoinElement__image {
  height: 40px;
  width: 40px;
  align-self: center;
  justify-self: center;
  border: 2px solid white;
  border-radius: 50%;
}
.trendingCoinElement__identifier {
  margin-left: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.trendingCoinElement__symbol {
  font-family: "IBM Plex Sans", sans-serif;
  color: #8daac6;
  padding-bottom: 5px;
}
.trendingCoinElement__header {
  color: #ffffff;
  opacity: 0.85;
  font-size: 16px;
}
.trendingCoinElement__current-price {
  color: #ffffff;
  opacity: 0.85;
  position: absolute;
  left: 0px;
  bottom: 5px;
}
.trendingCoinElement__pricing {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: end;
}
.trendingCoinElement__pricing-header {
  font-family: "IBM Plex Sans", sans-serif;
  color: #8daac6;
  padding-bottom: 5px;
}
.trendingCoinElement-percent__green {
  color: #1bc5bd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 5px;
}
.trendingCoinElement-percent__red {
  color: #f64e60;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 5px;
}
.trendingCoinElement-percent__arrow {
  font-size: 16px;
}
