.topFiveCoins__holder {
  margin: 30px 0 10px;
  display: flex;
  flex-direction: column;
  /* background-color: #323c46; */
  color: #f9ffff;
}

.topFiveCoins {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
